.Nav {
  width: 100%;
  background: var(--bg-nav);
  color: var(--text-rev);
  display: flex;
  flex-direction: column;

  .NavLeft {
    display: flex;
    flex-direction: column;

    a,
    button {
      flex-grow: 1;
      padding: 0.5em;
      text-align: center;
      align-content: center;
      text-decoration: none;
      color: inherit;
      transition: background-color 200ms ease-out;

      &:hover {
        background-color: var(--bg-nav-btn-hover);
        color: var(--text-main-text);
      }
    }

    a {
      display: block;
    }
  }

  .NavRight {
    display: grid;
    place-items: center;
    padding: 0.5em;
  }

  @media only screen and (width >=400px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;

    .NavLeft {
      flex-direction: row;
    }
  }
}