.Main {
  flex-grow: 1;
  padding: 1em;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;

  p {
    margin-block: 1em;
  }

  ul {
    list-style-position: inside;
  }

  a {
    color: var(--text-main-link);

    &:visited {
      color: var(--text-main-link-visited);
    }

    &:hover {
      color: var(--text-main-link-hover);
    }
  }
}

.MainTop {
  display: flex;
  justify-content: flex-end;
}