@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --bg-main1: #e6e6e6;
  --bg-main2: #f2f2f2;
  --bg-nav: #00cc11;
  --bg-nav-btn-hover: #c7c7c7;
  --bg-btn: var(--bg-nav);
  --bg-btn-secondary: #33ffff;
  --bg-btn-danger: #e01f73;
  --text-main-text: #0d0d0d;
  --text-main-link: #000000;
  --text-main-link-hover: #00cc11;
  --text-main-link-visited: #5500e6;
  --text-rev: var(--bg-main2);
  --border-textarea: #cccccc;
}

:root[data-theme="dark"] {
  --bg-main1: #1a1a1a;
  --bg-main2: #0d0d0d;
  --bg-nav: #33ff44;
  --bg-nav-btn-hover: #013434;
  --bg-btn: var(--bg-nav);
  --bg-btn-secondary: #00cccc;
  --text-main-text: #f2f2f2;
  --text-main-link: #ffffff;
  --text-main-link-visited: #a366ff;
  --border-textarea: #333333;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--bg-main1);
}

body {
  height: 100vh;
  width: min(820px, 100vw);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: var(--text-main-text);
  background: var(--bg-main2);
  font-family: "Noto Sans", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}