.btn {
  all: unset;
  cursor: pointer;
  font-family: inherit;
  padding: 0.33em 0.5em;
  border-radius: 9999px;
  color: var(--text-50);
  background-color: var(--primary-600);
  transition: all 200ms ease-in-out;

  &.btn-danger {
    background-color: var(--accent-500);
  }

  &:active {
    scale: 0.975;
  }
}

a.btn {
  text-decoration: none;
}