.form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .form-group {
    label {
      display: block;
      margin-bottom: 0.33em;
    }

    input,
    textarea {
      width: 100%;
    }

    textarea {
      padding: 0.5em;
      resize: vertical;
      font-family: inherit;
      color: var(--text-900);
      background-color: var(--background-100);
    }
  }

  .form-submit {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  @media only screen and (width >=400px) {
    .form-submit {
      justify-content: flex-start;
    }
  }
}