.LogInDialog {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: min(100%, 700px);
  border: 0;
  border-radius: 5px;
  background-color: var(--background-50);

  &::backdrop {
    background-color: rgb(0, 2, 102, 0.45);
  }

  form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    label {
      display: block;
      margin-bottom: 0.33em;
    }

    input {
      width: 100%;
      height: 2rem;
      background-color: var(--background-100);

      &:focus {
        background-color: rgb(255, 254, 201);
        border: 0;
      }
    }

    .SubmitSection {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5em;
    }
  }
}